<div><a href="#/!" class="btn btn-sm btn-default"><i class="fa fa-angle-left"></i> Back</a></div>
<div class="row">
  <div class="col-md-4 mx-auto">
    <h1> Dungeon name: {{ vm.dungeonName }} </h1>
    <wait-cursor display-when="vm.isBusy"></wait-cursor>
    <div class="alert alert-danger" ng-show="vm.errorMessage">{{ vm.errorMessage }}</div>
    <table class="table table-sm table-striped">
      <tr>
        <td> Theme: </td>
        <td>
          <select id="theme" class="form-control">
            <option value="0">Dark</option>
            <option value="1">Light</option>
            <option value="2">Minimal</option>
          </select>
        </td>
      </tr>
    </table>
    <div class="form-group">
      <input type="submit" value="Load dungeon" class="btn btn-sm btn-success btn-block" ng-click="vm.load()" />
    </div>
  </div>

  <div class="col-md-8 mx-auto">
    <canvas id="mapArea" width="800" height="800" style="border:0px #000000;"> </canvas>
  </div>

  <div class="col-md-4">
    <a id="download_map" class="btn btn-info btn-block" ng-hide="vm.hidden"> Download Map </a>
  </div>
  <div class="col-md-4">
    <a id="download_description" class="btn btn-info btn-block" ng-hide="vm.hidden"> Download Description to CSV </a>
  </div>
  <div class="col-md-4">
    <a id="download_html" class="btn btn-info btn-block" ng-hide="vm.hidden"> Download HTML </a>
  </div>

  <div class="row">
    <table id="table_description" class="table" style="white-space: pre-wrap;"> </table>
  </div>
</div>