<div>
<div class="col-md-4">
    <wait-cursor display-when="vm.isBusy"></wait-cursor>
    <div class="alert alert-danger" ng-show="vm.errorMessage">{{ vm.errorMessage }}</div>
    <form novalidate name="newDungeonForm" ng-submit="vm.generateDungeon()">
    <div class="form-group">
        <label for="dungeonName">Dungeon Name</label>
        <input class="form-control" type="text" id="dungeonName" name="dungeonName" ng-model="vm.newDungeon.dungeonName" required ng-minlength="3"/>
        <span ng-show="newDungeonForm.dungeonName.$error.required" class="text-warning">Dungeon Name is required</span>
        <span ng-show="newDungeonForm.dungeonName.$error.minlength" class="text-warning">Dungeon Name must be at 3 characters</span>
    </div>
        <table class="table table-sm table-striped">
          <tr>
            <td>Dungeon size:</td>
            <td>
              <select id="dungeonSize" class="form-control">
                <option value="20">Small</option>
                <option value="32">Medium</option>
                <option value="44">Large</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>Dungeon difficulty:</td>
            <td>
              <select id="dungeonDifficulty" class="form-control">
                <option value="0">Easy</option>
                <option value="1" selected="selected">Medium</option>
                <option value="2">Hard</option>
                <option value="3">Deadly</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>Party level:</td>
            <td>
              <select id="partyLevel" class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>Party size:</td>
            <td>
              <select id="partySize" class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4" selected="selected">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>Treasure value:</td>
            <td>
              <select id="treasureValue" class="form-control">
                <option value="0.5">Low</option>
                <option value="1" selected="selected">Standard</option>
                <option value="1.5">High</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>Items max rarity:</td>
            <td>
              <select id="itemsRarity" class="form-control">
                <option value="0">Common</option>
                <option value="1" selected="selected">Unommon</option>
                <option value="2">Rare</option>
                <option value="3">Very Rare</option>
                <option value="4">Legendary</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>Room density:</td>
            <td>
              <select id="roomDensity" class="form-control">
                <option value="20">Low</option>
                <option value="30">Medium</option>
                <option value="40">High</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>Room size:</td>
            <td>
              <select id="roomSize" class="form-control">
                <option value="20">Small</option>
                <option value="35">Medium</option>
                <option value="45">Large</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>Monsters type:</td>
            <td>
              <select id="monsterType" class="form-control">
                <option value="any">Any</option>
                <option value="aberration">Aberrations</option>
                <option value="beast">Beasts</option>
                <option value="celestial">Celestials</option>
                <option value="construct">Constructs</option>
                <option value="dragon">Dragons</option>
                <option value="elemental">Elementals</option>
                <option value="fey">Fey</option>
                <option value="fiend">Fiends</option>
                <option value="giant">Giants</option>
                <option value="humanoid">Humanoids</option>
                <option value="monstrosity">Monstrosities</option>
                <option value="ooze">Oozes</option>
                <option value="plant">Plants</option>
                <option value="undead">Undead</option>
              </select>
            </td>
          </tr>
          <tr>
            <td> Traps: </td>
            <td>
              <select id="trapPercent" class="form-control">
                <option value="0">None</option>
                <option value="15" selected="selected">Few</option>
                <option value="30">More</option>
              </select>
            </td>
          </tr>
          <tr>
            <td> Dead ends: </td>
            <td>
              <select id="deadEnd" class="form-control">
                <option value="true">Yes</option>
                <option value="false"> No</option>
              </select>
            </td>
          </tr>
          <tr>
            <td> Corridors: </td>
            <td>
              <select id="corridor" class="form-control" onchange="Utils.corridorOnchange(this)">
                <option value="true">Yes</option>
                <option value="false"> No</option>
              </select>
            </td>
          </tr>
          <tr>
            <td> Theme: </td>
            <td>
              <select id="theme" class="form-control">
                <option value="0">Dark</option>
                <option value="1">Light</option>
                <option value="2">Minimal</option>
              </select>
            </td>
          </tr>
       </table>
       <div class="form-group">
            <input type="submit" value="Generate Dungeon" class="btn btn-sm btn-success btn-block" ng-disabled="newDungeonForm.$invalid"/>
        </div>
    </form>
</div>
<div class="col-md-6">
        <canvas id="mapArea" width="800" height="800" style="border:0px #000000;"> </canvas>
</div>

  <div class="col-md-2">
    <a id="save_dungeon" class="btn btn-info btn-block" ng-hide="vm.hidden" ng-click="vm.saveDungeon()"> Save dungeon  </a>
  </div>
    <div class="col-md-2">
      <a id="download_map" class="btn btn-info btn-block" ng-hide="vm.hidden"> Download Map </a>
    </div>
    <div class="col-md-2">
      <a id="download_description" class="btn btn-info btn-block" ng-hide="vm.hidden"> Download Description to CSV </a>
    </div>
    <div class="col-md-2">
      <a id="download_html" class="btn btn-info btn-block" ng-hide="vm.hidden"> Download HTML </a>
    </div>

<div>
  <table id="table_description" class="table" style="white-space: pre-wrap;"> </table>
</div>

</div>