@model MvcRDMG.Models.Profile.ProfileChangePasswordModel
@{
    ViewData["Title"] = Resources.User.ChangePassword;
}

<div class="col-md-12">
    <form asp-action="ChangePassword" asp-controller="Profile" method="post">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <div class="mb-3 row">
            <label asp-for="CurrentPassword" class="col-md-3 form-label"></label>
            <div class="col-md-4">
                <div class="input-group input-group-password">
                    <input type="password" class="form-control" asp-for="CurrentPassword" tabindex="1" autocomplete="off">
                    <a class="btn btn-outline-secondary" href="#"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                </div>
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <label asp-for="NewPassword" class="col-md-3 form-label"></label>
            <div class="col-md-4">
                <div class="input-group input-group-password">
                    <input type="password" class="form-control" asp-for="NewPassword" tabindex="2" autocomplete="off">
                    <a class="btn btn-outline-secondary" href="#"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                </div>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <label asp-for="ConfirmPassword" class="col-md-3 form-label"></label>
            <div class="col-md-4">
                <div class="input-group input-group-password">
                    <input type="password" class="form-control" asp-for="ConfirmPassword" tabindex="3" autocomplete="off">
                    <a class="btn btn-outline-secondary" href="#"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div>
            <a asp-action="Index" class="btn btn-secondary" tabindex="7">@Resources.Common.Cancel</a>
            <button type="submit" class="btn btn-primary" tabindex="8">
                @Resources.Common.Ok
            </button>
        </div>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}