<div class="col-md-12"> 
    <div class="text-danger" ng-show="vm.errorMessage"> {{ vm.errorMessage }}</div>
    <wait-cursor display-when="vm.isBusy"></wait-cursor>
    <table class="table table-striped">
      <thead>
          <tr>
              <th>Dungeon name</th>
              <th>Created</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
          <tr ng-repeat="option in vm.options">
              <td>{{ option.dungeonName }}</td>
              <td>{{ option.created | date:'yyyy-MM-dd' }}</td>
              <td class="text-right"><a ng-href="#!editor/{{ option.dungeonName }}" class="btn btn-sm btn-primary">Load Dungeon</a></td>
            </tr>
      </tbody>
    </table>
</div>