@{
    ViewData["Title"] = "Load Dungeon";
}
@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-route.min.js"></script>
    <script src="~/js/dungeon-options.js"></script>
    <script src="~/js/dungeonsController.js"></script>
    <script src="~/js/dungeonLoaderController.js"></script>
    <script src="~/js/simpleControls.js"></script>
    <script src="~/js/utils.js"></script>
}
<div class="row" ng-app="dungeon-options">
    <div ng-view></div>
</div>