@{
    ViewData["Title"] = "Generate Dungeon";
}
@section Scripts {
    <script src="~/js/utils.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.min.js"></script>
    <script src="~/js/dungeon-generator.js"></script>
    <script src="~/js/dungeonDrawController.js"></script>
    <script src="~/js/simpleControls.js"></script>
}
<div class="row" ng-app="dungeon-generator">
    <div ng-view></div>
</div>