@model MvcRDMG.Models.Auth.LoginViewModel
@{
    ViewData["Title"] = "Login";
}
<div class="row">
    <div class="col-md-6 mx-auto">
        <h2> Login </h2>
        <form method="POST" novalidate>
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-muted"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-muted"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
    $(document).ready(function () {
      
    });
    </script>
}

