@model RDMG.Web.Models.User.UserEditViewModel
@{
    ViewData["Title"] = @Resources.User.EditTitle;
}
<div class="col-md-12">
    <form asp-action="Edit" asp-controller="User" method="post">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <input asp-for="Id" type="hidden" />
        <input asp-for="Timestamp" type="hidden" />
        <input asp-for="Username" type="hidden" />
        <input asp-for="Deleted" type="hidden" />
        <div class="mb-3 row">
            <label asp-for="FirstName" class="col-md-3 form-label"></label>
            <div class="col-md-4">
                <input asp-for="FirstName" type="text" class="form-control" tabindex="1" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <label asp-for="LastName" class="col-md-3 form-label"></label>
            <div class="col-md-4">
                <input asp-for="LastName" type="text" class="form-control" tabindex="2" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <label asp-for="Email" class="col-md-3 form-label"></label>
            <div class="col-md-4">
                <input asp-for="Email" class="form-control" tabindex="3" type="email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3 row">
            <label asp-for="Role" class="col-md-3 form-label"></label>
            <div class="col-md-4">
                @Html.DropDownListFor(m => m.Role, new SelectList(Enum.GetValues(typeof(RDMG.Core.Domain.Role))), new { @class = "form-select" })
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
        </div>
        <div>
            <a asp-action="Index" class="btn btn-secondary" tabindex="7">@Resources.Common.Cancel</a>
            <button type="submit" class="btn btn-primary" tabindex="8">
                @Resources.Common.Save
            </button>
        </div>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
