@model MvcRDMG.Models.ContactViewModel

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
<div class="row">
    <div class="col-md-6 mx-auto">
    <form method="post">
        @if (ViewBag.Message != null){
            <div>@ViewBag.Message</div>
        }
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-muted"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input type="email" asp-for="Email" class="form-control"/>
            <span asp-validation-for="Email" class="text-muted"></span>
        </div>
        <div class="form-group">
            <label asp-for="Message">Message</label>
            <textarea cols="50" rows="5" asp-for="Message" class="form-control"></textarea>
            <span asp-validation-for="Message" class="text-muted"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Send Message" class="btn btn-success"/>
        </div>
    </form>
    </div>
</div>