@{
    ViewData["Title"] = "About";
}
<div class="row">
    <div class="col-md-6 mx-auto text-center alert alert-info">
        <p>You can log in with TestAdmin/adminPassword123</p>
        <p>or with TestUser/simplePassword123</p>
        <p>From there you can generate/save/load dungeons, just like in the Android app.</p>
    </div>
</div>
